.Profile-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}


img{
  margin-top: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}