*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont,sans-serif;
}

h1{
  font-size: 3rem;
  color: rgb(5, 135, 241);
}
h2{
  color: #f64348;
  font-size: 2rem;
}