<nav class="navbar navbar-light bg-gray">
  <h3>GG</h3>
  <div>
    <a href="http://localhost:8080/">
      <button type="button" class="btn btn-dark">Home</button>
    </a>
    <a href="http://localhost:8080/ask">
      <button type="button" class="btn btn-success">Nova pergunta</button>
    </a>
  </div>
</nav>