*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#content {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: bisque;
  height: 100vh;
  padding: 40px;

  header{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;


    button{
      padding: 10px;
      font-size: 1.1em;
    }


    input,label{
      width: 200px;
      font-size: 1em;
    }

  }
}



.vezJogador{
  display: flex;
  color: rgb(0, 0, 0);
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.144);
  backdrop-filter: blur(40px);
  box-shadow: 0px 10px 5px rgba(231, 183, 80, 0.5);
}

main{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: nowrap;
  flex-basis: 200px;

  .box{
    border: 1px solid;
    width: 200px;
    height: 200px;
  }
}

.actived1{
  background-image: url(/imagens/circle.png);
  background-size: cover;
}

.actived2{
  background-image: url(/imagens/x.png);
  background-size: cover;

}