body {
  margin: 0;
}
div {
  width: 70%;
  background: #fffafa;
  margin: 0 auto;
  height: 100%;
  padding: 30px;
  border-bottom: 1px solid rgb(172, 172, 172);
}

.data {
  color: #008080;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'montserrat', sans-serif;
}
.texto {
  font-family:'Open Sans', sans-serif;
}