

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

.linksDashboard{
    display: flex;
    gap: 2rem;

    &>*{
        transition: .2s;
        align-self: center;
    }

    &>*:hover{
        color: #FFF;
    }
}