main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0 5rem;
}
.header>*{
  display: flex;
  gap: 10px;
}

footer{
  margin: 0 5rem;
}
